<table class="earnings-table">
    <thead>
        <tr>
            <th></th>
            <th (click)="onSort('name')"><app-table-heading name="Name" [selected]="sort() === 'name'"
                    [desc]="isDescending()" /></th>
            <th (click)="onSort('description')"><app-table-heading name="Description"
                    [selected]="sort() === 'description'" [desc]="isDescending()" /></th>
            <th (click)="onSort('type')"><app-table-heading name="Type" [selected]="sort() === 'type'"
                    [desc]="isDescending()" /></th>
            <th (click)="onSort('quantity')"><app-table-heading name="Quantity" [selected]="sort() === 'quantity'"
                    [desc]="isDescending()" /></th>
            <th (click)="onSort('rate')"><app-table-heading name="Rate" [selected]="sort() === 'rate'"
                    [desc]="isDescending()" /></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (earning of earnings(); track earning.name) {
        <tr>
            <td></td>
            <td id="name">{{ earning.name }}</td>
            <td id="description">{{ earning.description }}</td>
            <td id="type">{{ earning.type }}</td>
            <td id="quantity">{{ earning.quantity }}</td>
            <td id="rate">{{ earning.rate }}</td>
            <td></td>
        </tr>
        }
    </tbody>
</table>